.fondo{
    background:transparent url(../../../../../assets/img/404_notFound2.svg) no-repeat center center /contain;
    height: 100vh;
    width: 100vw;
    color: var(--bs-light);
}
/* .fondo2{
    max-width: 100%;
    width: 100vw;
  height: 100vh;
  
}

@media only screen and (max-width: 600px) {
    .fondo2{
    max-width: 100%;
    height: auto;
    display: none;
    }

    .fondo{
        background:transparent url(../../../../../assets/img/404_notFound2.svg) no-repeat center center /contain;
        height: 100vh;
        width: 100vw;
        color: var(--bs-light);
        display: block;
    }
} */