<div class="container-fluid">
    <div class="row justify-content-center ">
        <div class="col-sm-10 col-md-6 col-lg-4 colContent">
            <section class="center registerContent rounded ">
                <div class="text-center">
                    <img [src]="Logo" alt="Logo" width="200">
                </div>
                <form [formGroup]="registerForm" (ngSubmit)="register()" class="form ">
                    <div class="form-group">
                        <label for="Name">Nombre</label>
                        <input type="text" formControlName="name" name="name" class="form-control"
                            [ngClass]="{ 'is-invalid': dispatched  && FC.name.errors }" />
                        <div *ngIf="dispatched  && FC.name.errors" class="invalid-feedback">
                            <div *ngIf="FC.name.errors.required">name is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" formControlName="email" name="mail" class="form-control"
                            [ngClass]="{ 'is-invalid': dispatched  && FC.email.errors }" />
                        <div *ngIf="dispatched  && FC.email.errors" class="invalid-feedback">
                            <div *ngIf="FC.email.errors.required">Email requerido </div>
                            <div *ngIf="FC.email.errors.email">formato de Email invalido </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" #password formControlName="password"
                            [ngClass]="{ 'is-invalid': dispatched  && FC.password.errors }" />
                        <div *ngIf="dispatched  && FC.password.errors" class="invalid-feedback">
                            <div *ngIf="FC.password.errors.required">contraseña requerida</div>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="repeatPassword">Repetir Password</label>
                        <input type="password" formControlName="repeatPassword" pattern="{{ password.value }}"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': dispatched  && FC.repeatPassword.errors }" />
                        <div *ngIf="dispatched  && FC.repeatPassword.errors" class="invalid-feedback">
                            <div *ngIf="FC.repeatPassword.errors.required">contraseña requerida</div>
                            <div *ngIf="FC.repeatPassword.errors.pattern"> Contraseña in confirmacion son diferentes.
                            </div>
                        </div>
                    </div>
                    <!-- actions -->
                    <div class="form-group mb-3">
                        <button [disabled]="loading" class="btn btn-primary btn-block rounded w-100">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Registrarse
                        </button>

                    </div>
                </form>
                <div class="text-center">
                    <a routerLink="/login" class="link">¿Ya tienes una cuenta? Ingresa!</a>
                </div>
            </section>
        </div>

    </div>
</div>